Exercises
Within your codeup-data-science directory, create a new directory named classification-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub. Make sure to add a .gitignore file. In your .gitignore, ignore .DS_Store, .ipynb_checkpoints/, __pycache__, titanic.csv, iris.csv, and env.py. Add and commit your .gitignore file before moving forward.

The end product of this exercise is a jupyter notebook (classification_exercises.ipynb) and acquire.py. The notebook will contain all your work as you move through the exercises. The acquire.py file should contain the final functions.

In [1]:
# imports

import pandas as pd
import numpy as np
import os

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# turn off pink warning boxes
# import warnings
# warnings.filterwarnings("ignore")

# acquire
from env import host, user, password
from pydataset import data

import acquire

1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
# Create sql query and save to variable.

sql_query = 'SELECT * FROM measurements'

In [3]:
# Create connection url and save to a variable.

connection_url = f'mysql+pymysql://{user}:{password}@{host}/iris_db'

In [4]:

# Use my variables in the pandas read_sql() function.

df_iris = pd.read_sql(sql_query, connection_url)
df_iris.head(3)

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,1,5.1,3.5,1.4,0.2,1
1,2,4.9,3.0,1.4,0.2,1
2,3,4.7,3.2,1.3,0.2,1

1a. print the first 3 rows

In [5]:
df_iris.head(3)

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,1,5.1,3.5,1.4,0.2,1
1,2,4.9,3.0,1.4,0.2,1
2,3,4.7,3.2,1.3,0.2,1

1b. print the number of rows and columns (shape)

In [6]:
df_iris.shape

(150, 6)

1c. print the column names

In [7]:
df_iris.columns

Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species_id'],
      dtype='object')

1d. print the data type of each column

In [8]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   measurement_id  150 non-null    int64
 1   sepal_length    150 non-null    float64
 2   sepal_width     150 non-null    float64
 3   petal_length    150 non-null    float64
 4   petal_width     150 non-null    float64
 5   species_id      150 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 7.2 KB

1e. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [9]:
df_iris.describe()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000

In [10]:
# I would recommend rounding down to 4 decimal places to make it easier to read / manipulate

2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [11]:
# getting this set up

df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')
df_excel.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes

2a. assign the first 100 rows to a new dataframe, df_excel_sample

In [12]:
df_excel_sample = df_excel.head(100)

In [13]:
# checking my work...
df_excel_sample.shape

(100, 12)

2b. print the number of rows of your original dataframe

In [14]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

2c. print the first 5 column names

In [15]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

2d. print the column names that have a data type of object

In [16]:
df_excel.select_dtypes(['object']).columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [17]:
# what if I wanted multiple dtypes...
df_excel.select_dtypes(include=['object', 'bool']).columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

2e. compute the range for each of the numeric variables.

In [18]:
# give me a list of numeric columns
df_excel.select_dtypes(exclude=['object']).columns

Index(['is_senior_citizen', 'phone_service', 'internet_service',
       'contract_type', 'monthly_charges', 'total_charges'],
      dtype='object')

In [19]:
df_excel.select_dtypes(exclude='object').max() - df_excel.select_dtypes(exclude='object').min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

3. Read the data from this google sheet into a dataframe, df_google

In [20]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'

In [21]:
csv_export_url = sheet_url.replace('/edit?usp=sharing', '/export?format=csv&gid=341089357')

In [22]:
df_google = pd.read_csv(csv_export_url)
df_google.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C

3a. print the first 3 rows

In [23]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

3b. print the number of rows and columns

In [24]:
df_google.shape

(891, 12)

3c. print the column names

In [25]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

3d. print the data type of each column

In [26]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

3e. print the summary statistics for each of the numeric variables

In [27]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

3f. print the unique values for each of your categorical variables

In [28]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [29]:
# how to get number of unique entries per column/Series
df_google.filter(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']).nunique()

Survived    2
Pclass      3
Sex         2
SibSp       7
Parch       7
Embarked    3
dtype: int64

In [30]:
df_google.filter(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'])

     Survived  Pclass     Sex  SibSp  Parch Embarked
0           0       3    male      1      0        S
1           1       1  female      1      0        C
2           1       3  female      0      0        S
3           1       1  female      1      0        S
4           0       3    male      0      0        S
..        ...     ...     ...    ...    ...      ...
886         0       2    male      0      0        S
887         1       1  female      0      0        S
888         0       3  female      1      2        S
889         1       1    male      0      0        C
890         0       3    male      0      0        Q

[891 rows x 6 columns]

In [31]:
cats_only_df = df_google.filter(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'])
cats_only_df.head()

   Survived  Pclass     Sex  SibSp  Parch Embarked
0         0       3    male      1      0        S
1         1       1  female      1      0        C
2         1       3  female      0      0        S
3         1       1  female      1      0        S
4         0       3    male      0      0        S

In [32]:
# Survived unique values...
cats_only_df['Survived'].unique()

array([0, 1])

In [33]:
# Pclass unique values
cats_only_df['Pclass'].unique()

array([3, 1, 2])

In [34]:
# Sex unique values
cats_only_df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [35]:
# SibSp unique values
cats_only_df['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [36]:
# Parch unique values
cats_only_df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])

In [37]:
# Embarked unique values
cats_only_df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

Make a new python module, acquire.py to hold the following data aquisition functions:

1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [38]:
df_titanic = acquire.new_titanic_data()
df_titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [39]:
df_iris = acquire.new_iris_data()
df_iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

3. Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [40]:
df_titanic_csv = acquire.get_titanic_data()
df_titanic_csv.head(2)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0

## Prepare Exercises

The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.

In [65]:
# done above for previous exercises...
df_iris.head(2)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa

2. Drop the species_id and measurement_id columns.

In [66]:
# make a list of columns to drop

columns_to_drop = ['species_id', 'measurement_id']

In [67]:
# create a new df to check work (won't alter original df)

df_iris_clean = df_iris.drop(columns=columns_to_drop)
df_iris_clean.head(2)

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa

3. Rename the species_name column to just species.

In [68]:
df_iris_clean = df_iris_clean.rename(columns={'species_name': 'species'})
df_iris_clean.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

4. Create dummy variables of the species name.

In [69]:
dummy_df = pd.get_dummies(df_iris_clean[['species']], dummy_na=False, drop_first=True)
dummy_df.head(2)

   species_versicolor  species_virginica
0                   0                  0
1                   0                  0

In [70]:
df_iris_clean = pd.concat([df_iris_clean, dummy_df], axis=1)
df_iris_clean

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [71]:
def prep_iris(df):
    '''
    This function will acquire the iris_db from Codeup and 
    prepare the data to be split for train / validate / test
    '''
#     drop species_id and measurement columns
    df = df.drop(columns=(['species_id', 'measurement_id']))
# Rename the species_name column to just species.
    df = df.rename(columns={'species_name': 'species'})
#     Create dummy variables of the species name.
    dummy_df = pd.get_dummies(df[['species']], dummy_na=False, drop_first=True)
# let's put it all together...
    df = pd.concat([df, dummy_df], axis=1)
    return df

In [74]:
please_sweet_baby_jesus = prep_iris(df_iris)
please_sweet_baby_jesus

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

In [76]:
all_iris = acquire.get_iris_data()
all_iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [77]:
test = prep_iris(all_iris)
test

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1