Exercises
Within your codeup-data-science directory, create a new directory named classification-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub. Make sure to add a .gitignore file. In your .gitignore, ignore .DS_Store, .ipynb_checkpoints/, __pycache__, titanic.csv, iris.csv, and env.py. Add and commit your .gitignore file before moving forward.

The end product of this exercise is a jupyter notebook (classification_exercises.ipynb) and acquire.py. The notebook will contain all your work as you move through the exercises. The acquire.py file should contain the final functions.

In [4]:
# imports

import pandas as pd
import numpy as np
import os

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# turn off pink warning boxes
# import warnings
# warnings.filterwarnings("ignore")

# acquire
from env import host, user, password
from pydataset import data

ModuleNotFoundError: No module named 'env'

1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [1]:
# Create sql query and save to variable.

sql_query = 'SELECT * FROM iris'

In [3]:
# Create connection url and save to a variable.

connection_url = f'mysql+pymysql://{user}:{password}@{host}/iris'

NameError: name 'user' is not defined

1a. print the first 3 rows

1b. print the number of rows and columns (shape)

1c. print the column names

1d. print the data type of each column

1e. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

2a. assign the first 100 rows to a new dataframe, df_excel_sample

2b. print the number of rows of your original dataframe

2c. print the first 5 column names

2d. print the column names that have a data type of object

2e. compute the range for each of the numeric variables.

3. Read the data from this google sheet into a dataframe, df_google

3a. print the first 3 rows

3b. print the number of rows and columns

3c. print the column names

3d. print the data type of each column

3e. print the summary statistics for each of the numeric variables

3f. print the unique values for each of your categorical variables

Make a new python module, acquire.py to hold the following data aquisition functions:

1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

3. Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.